p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}




ul {
    margin: 0;
    padding-left: 0;
}


button {
    cursor: pointer;
}


address {
    font-style: normal;
}



body {
    font-family: 'Roboto', sans-serif;
    color: #212121;

}



.link {
    text-decoration: none;
}


.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center
}




/* .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */


.header .container {
    display: flex;

}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ECECEC;
}




.header-info-stud,
.header-info-port {
    margin-right: 50px;
}


.header-info-cont {
    margin-right: 0;
}


.header-text {
    display: flex;
    align-items: center;
}



.header-info-num,
.header-info-mail {
    margin-right: 50px;
}

.header-info-num {
    margin-right: 0;
}


.header-info {
    display: flex;
}

.header-list {
    display: flex;
    margin-left: auto;
}


.hero {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}


.hero_content {
    width: 1070px;
    margin-bottom: 94px;
    margin-top: 94px;
    margin-left: 215px;
    margin-right: auto;
    margin-left: auto;

}

.about,
.mail,
.number,
.mail-footer,
.number-footer {
    color: #757575;
    cursor: pointer;
}


.mail,
.number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
}




.about,
.footer-number,
.footer-number {
    font-weight: 400;
}

.about {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

}



.footer-number,
.footer-mail {
    font-weight: 500;

    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}



.team {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}


.skill-text-list {
    display: flex;
}


.skill-text {
    margin-right: 30px;

    width: 270px;

}

.skill-text:last-child {
    margin-right: 0;
}


.we {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;

    letter-spacing: 0.03em;

    color: #757575;

}

.big-pages {
    padding-top: 94px;
    /* padding-right: 215px;
    padding-left: 215px; */
    padding-bottom: 94px;
}

.page {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: #212121;


}


.name {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}




.person-photo {
    display: flex;
    justify-content: space-between;
}

.team-img {
    display: block;
}



.team-container {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}





.hero-photo {

    display: flex;
    column-gap: 30px;
    /* padding-left: 215px;
    padding-right: 215px; */
}


.photo-tree,
.team-img,
.example-photo {
    display: block;
    max-width: 100%;
    height: auto;

}


.tree-photo {
    padding-bottom: 94px;
}

.main_page {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}


.footer {

    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}




.footer-adress {
    color: white;
    margin-top: 0;

}

.footer-item:not(:last-child) {
    margin-top: 0;
}





.footer-adress:hover {
    color: #2196F3;
}


.footer-mail:hover {
    color: #2196F3;
}


.footer-number:hover {
    color: #2196F3;

}


.team-item {
    display: block;
}


.main_title {
    /* color: white;
    font-size: 44px;
    line-height: 60px; */
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    text-align: center;
    /* letter-spacing: 0.06em;
    text-transform: uppercase; */


}


.main-title-one {
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px auto;
}




ul {
    list-style: none
}

.filter_link,
.buy {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}


.filter_link {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    background: #F5F4FA;
    border: 1px solid #F5F4FA;
    margin-top: 0;
    padding: 6px 22px;
    border-radius: 4px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}




.buy {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    padding: 10px 32px 10px 32px;
}


.filter_link:hover {
    color: #ffffff;
    background-color: #2196F3;
}

.header-stroke:hover {
    color: #2196F3;
}


.mail:hover {
    color: #2196F3;
}

.number:hover {
    color: #2196F3;
}



.section-btn-item {
    margin-right: 8px;


}

.section-btn-item:last-child {
    margin-right: 0;
}

.section-btn-list {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.section-btn-item :focus {
    color: var(--primery-white-color);
    background-color: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);

}


.header-stroke {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    cursor: pointer;
}


.logo-header-first {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    display: flex;
    margin-right: 100px;

}


.logo-footer-first {
    display: inline-block;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}



.number-footer,
.mail-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
}


.mail-footer {
    margin-top: 0;
}




.logo_header {
    color: #2196F3;
}

.logo-footer {
    color: #2196F3;
}



.footer-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;

}

.footer-item :hover {
    color: #2196F3
}

.footer-item :focus {
    color: var(--accent-text-color);
}


.section {
    margin-left: auto;
    margin-right: auto;
}



.example-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

}


.example-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primery-text-color);
    margin-bottom: 4px;


}

.example-item {
    flex-basis: calc((100% - 60px) / 3);
    margin-bottom: 30px;

}


.example-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}





/* .example-item-book,
.example-item-project,
.example-item-notebook {
    flex-basis: calc((100% - 60px) / 3);
     margin-bottom: 0;
    margin-right: 30px; 
    width: 370px;
} */


.example-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;

}







.example-container {
    margin-left: auto;
    margin-right: auto;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: 0;
    /* max-width: 370px;
    min-width: 370px; */
    padding: 20px 24px;
}